body{
    display: grid;
    justify-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    background-color: #26335D;
    color: white;
    
}
* {
    position: relative;
    z-index: 0;
}
section {
    width: 1200px;
    margin-top: 50px;
}

html {
    position: relative;
    z-index: 0;
    height: 100%;
    font-size: 110%;
    line-height: 1.5 !important;
}

img {
    display: block;
}