body{
    display: grid;
    justify-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    background-color: #26335D;
    color: white;
}

section {
    width: 1200px;
    margin-top: 50px;
}

html {

    height: 100%;

}

img {
    display: block;
}